.pixelStyleBubble {
  position: relative;
  background-image: url('./pixel-bubble.svg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: auto;
  padding: 2% 4% 8% 4%;
  box-sizing: border-box;
}
