.screenContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 32px;
  text-align: center;
  padding: 20px;
  gap: 8px;

  .pageId {
    color: $primary-color;
  }
}

.paperContent {
  padding: 40px;
  font-size: 32px;
  line-height: 1.8;
}

.errorDetails {
  padding: 24px;
  background-color: #f5f5f5;

  .errorText {
    word-break: break-all;
    white-space: pre-wrap;
    font-family: 'AlibabaPuHuiTi-3';
  }
}
