.addressBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  height: 70px;
  border: 1.53px solid #000;
  font-size: 40px;
  background-color: #fff;

  .search {
    font-family: 'Supermagnet-Fat';
  }

  .icon {
    font-family: 'DingTalk-JinBuTi';
  }
}
