.reportCover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;

  .year {
    font-size: 62.5px;
    color: $primary-color;
    font-family: '04b_03';
  }

  .title {
    font-size: 20.5px;
    color: #000;
    font-family: 'DingTalk-JinBuTi';
    transform: translateY(-5px);
  }

  .openSource {
    font-size: 24px;
    color: #000;
    font-family: 'Supermagnet-Fat';
  }
}
