.pixelStyleContainer {
  position: relative;
  background-color: #f4f4f4;
}

.borderSvg {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.content {
  position: relative;
  z-index: 0;
}
