.envelopeLetter {
  position: absolute;
  top: -20px;
  left: -45px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 24px;
  padding-left: 200px;
  padding-right: 100px;

  .topArea {
    .user {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 24px;
      z-index: 1;

      .avatar {
        width: 155px;
      }

      .login {
        font-size: 32px;
      }
    }

    .podium {
      width: 603px;
      transform: translateX(-10px);
    }
  }

  .bottomArea {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    font-size: 36px;
    line-height: 60px;

    .repo {
      color: $primary-color;
      font-size: 40px;
      word-break: break-all;
    }

    .communityStarBanner {
      margin-top: 30px;
      margin-bottom: 50px;
      background-image: url('./community-star-banner.svg');
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      width: 433px;
      height: 130px;
      box-sizing: border-box;
      padding: 0 20px;
      display: flex;

      .left {
        .goldMedal {
          margin-left: 20px;
          width: 70px;
        }
      }

      .right {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 1.25;
      }
    }

    .questionnaireLink {
      margin: 0 8px;
      text-decoration: none;
      color: $primary-color;
      display: inline-block;
      transform-origin: center;
      transition: transform 0.1s ease;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.newStory {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  font-size: 26px;
  backdrop-filter: blur(20px);
  @include hide-in-short-screen;
}
