.topLogo {
  position: absolute;
  top: 35px;
  left: 50px;
  height: 50px;
  backdrop-filter: blur(2px);
  @include hide-in-short-screen;
}

.bottomLogo {
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  height: 50px;
  backdrop-filter: blur(2px);
  @include show-in-short-screen;
}

.envelopeLetter {
  position: absolute;
  top: -20px;
  left: -45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;

  .user {
    margin-right: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

    .avatar {
      width: 110px;
    }

    .login {
      font-size: 32px;
    }
  }

  .thanks {
    font-size: 46px;
  }

  .antOpenSourceDomainExamples {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }

  .antOpenSourceUsesAndContributes {
    font-size: 36px;
    line-height: 1.25;
  }
}

.retroComputer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 621px;
  z-index: 1;
  @include hide-in-short-screen;
}
