.loadingContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loadingWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.loadingText {
  min-height: 34px;
  font-family: '04b_03', monospace;
  font-size: 34px;
  color: #000;
  font-weight: normal;
  text-align: center;
}

.progressBarContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
  margin-bottom: 16px;
}

.progressBarSvg {
  display: block;
  shape-rendering: crispEdges;
}

.progressGrid {
  shape-rendering: crispEdges;
}

.percentText {
  font-family: '04b_03', monospace;
  font-size: 34px;
  color: #000;
  font-weight: normal;
  text-align: center;
}
