.topContent {
  margin: 50px 50px 0 50px;
  font-size: 40px;
  font-family: 'Alibaba-PuHuiTi-2';

  .year {
    font-size: 130px;
    color: $primary-color;
    font-family: '04b_03';
  }
}

.paperContent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
  padding: 40px;

  .topArea {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    font-size: 42px;
  }

  .centerArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    gap: 20px;
    width: 100%;
    box-sizing: border-box;

    .petPhrase {
      font-size: 70px;
      color: $primary-color;
      will-change: transform, opacity;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 100%;
      word-break: break-word;
      white-space: pre-line;
    }
  }

  .bottomArea {
    padding: 32px;
    width: 100%;
    box-sizing: border-box;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    background-color: #f4f4f4;
    font-size: 28px;
    word-break: break-word;
    white-space: pre-wrap;

    .quote {
      font-size: 32px;
      font-family: 'DingTalk-JinBuTi';
    }

    .highlight {
      color: $primary-color;
      font-weight: bold;
    }

    .issueLink {
      color: inherit;
      text-decoration: none;
      font-size: 24px;
    }
  }
}
