.retroComputer {
  position: relative;
  left: 48%;
  bottom: 40px;
  transform: translateX(-50%);
  width: 114%;
}

.paper {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 0;
  background-color: white;
  box-shadow: 0 0 0 3.5px black;
  box-sizing: border-box;
  z-index: 1;
}
